<section class="section pb-10 bg-gradient-warning">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <!-- <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid"> -->
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-building text-primary"></i>
              </div>
            </div>
            <div class="pl-4">
              <h4 class="display-3 text-white">Modern Interface</h4>
              <p-chart type="polarArea" [data]="chart" width="40vw" height="80vh"></p-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>

  <!-- Table show -->
  <section class="section section-lg section-hero section-shaped">
    <div class="container">
      <div class="row row-grid">
        <div class="col px-0">
          <div class="pr-md-5">
            <div class="row align-items-center justify-content-center">
                <p-table [columns]="cols" [value]="covid" styleClass="ui-table-users" [rowHover]="true" [rows]="10" [loading]="loading" [paginator]="true"
                showCurrentPageReport="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" align="center">
                <ng-template pTemplate="caption">
                    List of Covid-19 Cases<br><br>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="idCase">ID<p-sortIcon field="idCase"></p-sortIcon></th>
                        <th pSortableColumn="kota">City<p-sortIcon field="kota"></p-sortIcon></th>
                        <th pSortableColumn="positif">Positive<p-sortIcon field="positif"></p-sortIcon></th>
                        <th pSortableColumn="meninggal">Deaths<p-sortIcon field="meninggal"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-covid>
                    <tr class="ui-selectable-row">
                        <td>
                            <span class="ui-column-title">ID</span>
                            {{covid.idCase}}
                        </td>
                        <td>
                            <span class="ui-column-title">City</span>
                            {{covid.kota}}
                        </td>
                        <td>
                            <span class="ui-column-title">Positive</span>
                            {{covid.positif}}
                        </td>
                        <td>
                            <span class="ui-column-title">Deaths</span>
                            {{covid.meninggal}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
