<section class="section pb-10 bg-gradient-warning">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-building text-primary"></i>
              </div>
            </div>
            <div class="pl-4">
              <h4 class="display-3 text-white">Covid-19 Data</h4>
              <br>
              <h5 class="display-3 text-white">{{kota}}</h5>
              <p-chart type="polarArea" [data]="chart" width="40vw" height="80vh"></p-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <!-- Table show -->
  <section class="section section-lg section-hero section-shaped">
    <div class="container">
      <div class="row row-grid">
        <div class="col px-0">
          <div class="pr-md-5">
            <div class="row align-items-center justify-content-center">
                <p-table [columns]="cols" [value]="covid" (onRowSelect)="onRowSelect($event)" selectionMode="single" [(selection)]="selectedCase" [rowHover]="true" [rows]="10" [loading]="loading" [paginator]="true" showCurrentPageReport="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" align="center">
                <ng-template pTemplate="caption">
                    List of Covid-19 Cases<br>
                    (Click one of the row to show the data on the graphs)
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of cols" [pSortableColumn] = "col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>  
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-case>
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of cols">
                          {{rowData[col.field]}}
                      </td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
